.chart {
  position: relative;
  display: flex;
  row-gap: 28px;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 995px;
  margin: 0 auto;
  color: #000000;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}
