.chart {
  position: relative;
  display: flex;
  row-gap: 28px;
  flex-flow: column nowrap;
  width: 100%;
  max-width: 995px;
  margin: 0 auto;
  color: #000000;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

.selectBox {
  position: relative;
  align-self: flex-end;
}

.selectButton {
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.25;
}

.selectButton:hover {
  color: #000aff;
}

.selectButtonTop {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 380px;
  height: 48px;
  margin: 0;
  padding: 9px 20px;
  border: 2px solid #000aff;
  border-radius: 24px;
  background: #ffffff;
}

.selectIcon {
  position: relative;
  width: 27px;
  height: 27px;
}

.selectIcon::after,
.selectIcon::before {
  position: absolute;
  top: 50%;
  display: block;
  width: 17px;
  height: 3px;
  content: '';
  transform: translate(0, -50%);
  border-radius: 1.5px;
  background-color: #000aff;
}

.selectIcon::after {
  left: 0;
  transform: rotate(45deg);
}

.selectIcon::before {
  left: 39%;
  transform: rotate(-45deg);
}

.selectValues {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column nowrap;
  width: 380px;
  margin: 0;
  padding: 9px 20px;
  list-style-type: none;
  border: 2px solid #000aff;
  border-radius: 24px;
  background: #ffffff;
}

.graphBox {
  display: grid;
  column-gap: 40px;
  row-gap: 17px;
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr min-content;
  width: 100%;
  height: 400px;
  padding: 40px;
  border-radius: 27px;
  background-color: rgba(255, 0, 245, 0.05);
  font-size: 20px;
  line-height: 1;
}

.verticalScaleLabels {
  position: relative;
  top: -3%;
  left: 0;
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  height: 107%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.columnValues {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-flow: row nowrap;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.columnValue {
  position: relative;
  width: 40px;
}

.columnValueThin {
  width: 16px;
}

.columnValue::after {
  position: absolute;
  top: 0;
  left: 50%;
  width: 16px;
  height: 100%;
  content: '';
  transform: translate(-50%, 0);
  border-radius: 4px;
  background-color: #000aff;
}

.columnValue:hover.columnValue::after {
  box-shadow: 0px 0px 8px 6px rgba(0, 10, 255, 0.15);
}

.columnValue::before {
  position: absolute;
  top: -32px;
  left: 50%;
  padding: 2px 8px;
  content: none;
  transform: translate(-50%, 0);
  border-radius: 6px;
  background-color: #65ff8e;
  font-size: 16px;
  line-height: 1.5;
}

.columnValue:hover.columnValue::before {
  content: attr(data-value);
}

.horizontalScaleLabels {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.horizontalScaleLabelsExpanded {
  position: relative;
  top: 0;
  left: -2.5%;
  width: 105%;
}

.horizontalScaleLabel {
  width: 40px;
  text-align: center;
}
