.chart {
  position: relative;
  display: flex;
  row-gap: 28px;
  flex-flow: column nowrap;
  color: #000000;
  font-family: Manrope, Arial, Helvetica, sans-serif;
}

.selectBox {
  position: relative;
  align-self: flex-end;
}

.selectButton {
  border: none;
  background-color: transparent;
  font-size: 24px;
  line-height: 1.25;
}

.selectButton:hover {
  color: #000aff;
}

.selectButtonTop {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  width: 380px;
  height: 48px;
  margin: 0;
  padding: 9px 20px;
  border: 2px solid #000aff;
  border-radius: 24px;
  background: #ffffff;
}

.selectIcon {
  position: relative;
  width: 27px;
  height: 27px;
}

.selectIcon::after, .selectIcon::before {
  position: absolute;
  top: 50%;
  display: block;
  width: 17px;
  height: 3px;
  content: '';
  transform: translate(0, -50%);
  border-radius: 1.5px;
  background-color: #000aff;
}

.selectIcon::after {
  left: 0;
  transform: rotate(45deg);
}

.selectIcon::before {
  left: 39%;
  transform: rotate(-45deg);
}

.selectValues {
  position: absolute;
  top: calc(100% - 2px);
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-flow: column nowrap;
  width: 380px;
  margin: 0;
  padding: 9px 20px;
  list-style-type: none;
  border: 2px solid #000aff;
  border-radius: 24px;
  background: #ffffff;
}

.graphBox {
  display: flex;
  column-gap: 40px;
  flex-flow: row nowrap;
  width: 995px;
  height: 400px;
  padding: 40px;
  border-radius: 27px;
  background-color: rgba(255, 0, 245, 0.05);
  font-size: 20px;
  line-height: 1.5;
}

.verticalScale {
  display: flex;
  justify-content: space-between;
  flex-flow: column nowrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.columns {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.column {
  display: flex;
  justify-content: flex-end;
  flex-flow: column nowrap;
}

.columnValue {
  background-color: #000aff;
}
